.btnStyle {
  background-color: #99cc00; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fontStyle {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: #99cc00;
}

.btnFontStyle {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: medium;
  color: white;
}

.strikethrough {
  text-decoration: line-through;
}

.Operaquotes {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: small;
}

li {
  display: inline;
  position: top center;
  padding: 8px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  font-size: medium;
}

.divContainer {
  width: 70%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #f8f8f8;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
}
